---

icweb2_deb_repos: [ "{{ osvar_deb_repos }}" ]
icweb2_debmon_apt_key: "{{ osvar_debmon_apt_key }}"
icweb2_debmon_apt_repository: "{{ osvar_debmon_apt_repository }}"
icweb2_pkg_key: http://packages.icinga.org/icinga.key
icweb2_httpd_svc_name: "{{ osvar_httpd_svc_name }}"
icweb2_httpd_user: "{{ osvar_httpd_user }}"
icweb2_pkgs_name: "{{ osvar_pkgs_name }}"
icweb2_php_ini_path: "{{ osvar_php_ini_path }}"
icweb2_mysqld_schema: "{{ osvar_mysqld_schema }}"
icweb2_mysqld_pkg_name: "{{ osvar_mysqld_pkg_name }}"
icweb2_mysqld_svc_name: "{{ osvar_mysqld_svc_name }}"
icweb2_mysqld_svc_enabled: yes
icweb2_mysqld_svc_state: started

#
# most useful user variables
#

# DB name, user and password
icweb2_mysqld_db_name: icingaweb2
icweb2_mysqld_db_pass: icingaweb2
icweb2_mysqld_db_user: icingaweb2

# in case we are using a remote DB, set the host and credentials
# GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' IDENTIFIED BY 'password' WITH GRANT OPTION;
icweb2_mysqld_login_host: localhost
icweb2_mysqld_login_user: root
icweb2_mysqld_login_pass: ""

# information about the *icinga2* DB (*not* the icingaweb2 DB)
icweb2_ic2_mysqld_login_host: localhost
icweb2_ic2_mysqld_db_name: icinga2
icweb2_ic2_mysqld_db_pass: icinga2
icweb2_ic2_mysqld_db_user: icinga2

# web interface admin user and password
icweb2_admin_user: "admin"
icweb2_admin_pass: "CHANGEME"

# PHP timezone
icweb2_php_ini_timezone: "Europe/Paris"
