---

osvar_deb_repos:
  - deb http://packages.icinga.org/{{ ansible_distribution|lower }} icinga-{{ ansible_distribution_release }} main
  - deb-src http://packages.icinga.org/{{ ansible_distribution|lower }} icinga-{{ ansible_distribution_release }} main
osvar_debmon_apt_key: http://debmon.org/debmon/repo.key
osvar_debmon_apt_repository: deb http://debmon.org/debmon debmon-{{ ansible_distribution_release }} main

osvar_cfg_dir: /etc/icinga2
osvar_ca_file: /var/lib/icinga2/ca/ca.crt
osvar_pki_path: "{{ osvar_cfg_dir }}/pki"

osvar_pkgs_name:
  - icinga2
  - nagios-plugins
  - snmp
  - mailutils
  - python-mysqldb
  - mysql-client
  - icinga2-ido-mysql

osvar_svc_name: icinga2

osvar_mysqld_schema: /usr/share/icinga2-ido-mysql/schema/mysql.sql
osvar_mysqld_svc_name: mysql
osvar_mysqld_pkg_name: mysql-server
