---

osvar_deb_repos:
  - deb http://packages.icinga.org/{{ ansible_distribution|lower }} icinga-{{ ansible_distribution_release }} main
  - deb-src http://packages.icinga.org/{{ ansible_distribution|lower }} icinga-{{ ansible_distribution_release }} main
osvar_debmon_apt_key: http://debmon.org/debmon/repo.key
osvar_debmon_apt_repository: deb http://debmon.org/debmon debmon-{{ ansible_distribution_release }} main

osvar_cfg_path: /etc/icinga2/icinga2.conf
osvar_cfgd_path: /etc/icinga2/conf.d

osvar_pkgs_name:
  - icinga2
  - nagios-plugins
  - snmp

osvar_svc_name: icinga2

osvar_mysqld_schema: "/usr/share/icinga2-ido-mysql/schema/mysql.sql"
osvar_mysqld_ido_cfg: "/etc/icinga2/features-available/ido-mysql.conf"
