[icingaweb2]
type                = "db"
db                  = "mysql"
host                = {{ icweb2_mysqld_login_host }}"
port                = "3306"
dbname              = "{{ icweb2_mysqld_db_name }}"
username            = "{{ icweb2_mysqld_db_user }}"
password            = "{{ icweb2_mysqld_db_pass }}"


[icinga2]
type                = "db"
db                  = "mysql"
host                = "{{ icweb2_ic2_mysqld_login_host }}"
port                = "3306"
dbname              = "{{ icweb2_ic2_mysqld_db }}"
username            = "{{ icweb2_ic2_mysqld_db_user }}"
password            = "{{ icweb2_ic2_mysqld_db_pass }}"
