---

icweb2_mysqld_db_name: "icingaweb2"
icweb2_mysqld_db_pass: "icingaweb2"
icweb2_mysqld_db_user: "icingaweb2"
icweb2_mysqld_schema: "{{ osvar_mysqld_schema }}"
icweb2_mysqld_login_host: 127.0.0.1
icweb2_mysqld_login_user: root
icweb2_mysqld_login_pass: ""
icweb2_mysqld_pkgs_name: "{{ osvar_mysqld_pkgs_name }}"
icweb2_mysqld_svc_name: "{{ osvar_mysqld_svc_name }}"

icweb2_httpd_user: "{{ osvar_httpd_user }}"

icweb2_admin_user: "admin"
icweb2_admin_pass: "CHANGEME"

icweb2_pkg_name: "{{ osvar_pkg_name }}"

icweb2_php_ini_path: "{{ osvar_php_ini_path }}"
icweb2_php_ini_timezone: "Europe/Paris"
