---

- name: Install the MySQL server and IDO module
  apt: name={{ item }} state=latest
  with_items: "{{ icweb2_mysqld_pkgs_name }}"
  tags: pkg

- name: Start the MySQL service
  service: name={{ icweb2_mysqld_svc_name }}
           state={{ icweb2_mysqld_svc_state }}
           enabled={{ icweb2_mysqld_svc_enabled }}
  tags: svc

- name: Create Icingaweb2 database
  mysql_db: name={{ icweb2_mysqld_db_name }} state=present
            login_host={{ icweb2_mysqld_login_host }}
            login_user={{ icweb2_mysqld_login_user }}
            login_password={{ icweb2_mysqld_login_pass }}
  register: icweb2_mysqld_db_installed
  tags: cfg

- name: Import the Icingaweb2 schema into the database - (only once)
  mysql_db: name={{ icweb2_mysqld_db_name }}
            state=import
            target={{ icweb2_mysqld_schema }}
            login_host={{ icweb2_mysqld_login_host }}
            login_user={{ icweb2_mysqld_login_user }}
            login_password={{ icweb2_mysqld_login_pass }}
  when: icweb2_mysqld_db_installed.changed == true
  tags: cfg

- name: Create the Icingaweb2 database user and configure grants
  mysql_user: name={{ icweb2_mysqld_db_user }}
              password={{ icweb2_mysqld_db_pass }}
              update_password=always
              state=present
              priv="{{ icweb2_mysqld_db_name }}.*:SELECT,INSERT,UPDATE,DELETE,DROP,CREATE VIEW,INDEX,EXECUTE"
              login_host={{ icweb2_mysqld_login_host }}
              login_user={{ icweb2_mysqld_login_user }}
              login_password={{ icweb2_mysqld_login_pass }}
  tags: cfg

- name: Create/update initial admin user
  shell: "mysql {{ icweb2_mysqld_db_name }} -e \"REPLACE INTO icingaweb_user (name, active, password_hash) VALUES ('{{ icweb2_admin_user }}', 1, '$(openssl passwd -1 {{ icweb2_admin_pass }})')\""
  tags: cfg
