# {{ ansible_managed }}

{% for key,value in ic2_cfg_check_commands_content.iteritems() %}
object CheckCommand "{{ key }}" {
  import "plugin-check-command"

  command = [
    PluginDir + "/{{ key }}", {{ value }}
  ]
}

{% endfor %}
