/* {{ ansible_managed }} */

{% if ic2_is_master == True %}
object Zone "master" {
{% else %}
object Zone "satellite" {
  parent = "master"
{% endif %}
  endpoints = [ "{{ ansible_hostname }}" ]
}

object Endpoint "{{ ansible_hostname }}" {
  host = "{{ ansible_default_ipv4.address }}"
}
