/* {{ ansible_managed }} */

object Zone "master" {
  endpoints = [ "{{ hostvars[groups['ic2master'][0]]['ansible_fqdn'] }}" ]
}

object Endpoint "{{ hostvars[groups['ic2master'][0]]['ansible_fqdn'] }}" {
  host = "{{ hostvars[groups['ic2master'][0]]['ansible_default_ipv4']['address'] }}"
}

object Zone "global-templates" {
  global = true
}
