---

################################################################################
# OS-specific variables (from vars/)
################################################################################

ic2_ca_file: "{{ osvar_ca_file }}"
ic2_cfg_path: "{{ osvar_cfg_path }}"
ic2_cfgd_path: "{{ osvar_cfgd_path }}"
ic2_deb_repos: [ "{{ osvar_deb_repos }}" ]
ic2_debmon_apt_key: "{{ osvar_debmon_apt_key }}"
ic2_debmon_apt_repository: "{{ osvar_debmon_apt_repository }}"
ic2_mysqld_schema: "{{ osvar_mysqld_schema }}"
ic2_mysqld_ido_cfg: "{{ osvar_mysqld_ido_cfg }}"
ic2_mysqld_pkg_name: "{{ osvar_mysqld_pkg_name }}"
ic2_mysqld_svc_name: "{{ osvar_mysqld_svc_name }}"
ic2_pki_path: "{{ osvar_pki_path }}"
ic2_pkgs_name: [ "{{ osvar_pkgs_name }}" ]
ic2_svc_name: "{{ osvar_svc_name }}"

################################################################################
# misc variables
################################################################################

ic2_mysqld_svc_enabled: yes
ic2_mysqld_svc_state: started
ic2_svc_enabled: yes
ic2_svc_state: started
ic2_pkg_key: http://packages.icinga.org/icinga.key

################################################################################
# most useful variables for personalized playbooks
################################################################################

# DB name, user and password to create
ic2_mysqld_db_name: icinga2
ic2_mysqld_db_pass: icinga2
ic2_mysqld_db_user: icinga2

# in case we are using a remote DB, set the host and credentials
# GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' IDENTIFIED BY 'password' WITH GRANT OPTION;
ic2_mysqld_login_host: localhost
ic2_mysqld_login_user: root
ic2_mysqld_login_pass: ""

# Icinga features to enable 
ic2_features: [ "api", "command"]

# set to true for a master
ic2_is_master: False

# master host for satellite nodes
ic2_master_host: ""

# /etc/icinga2/icinga2.conf
ic2_cfg_content: |
  include "constants.conf"
  include "zones.conf"
  include <itl>
  include <plugins>
  include "features-enabled/*.conf"

# /etc/icinga2/conf.d/check_commands.conf
ic2_cfg_check_commands_content:
  check_nrpe: |
    "-H", "$address$", "-c", "$remote_nrpe_command$",

# /etc/icinga2/features-available/ido-mysql.conf
ic2_mysqld_ido_cfg_content: |
  library "db_ido_mysql"
  object IdoMysqlConnection "ido-mysql" {
    user = "{{ ic2_mysqld_db_user }}"
    password = "{{ ic2_mysqld_db_pass }}"
    host = "{{ ic2_mysqld_login_host }}"
    database = "{{ ic2_mysqld_db_name }}"
  }

