---

ic2_deb_repos: [ "{{ osvar_deb_repos }}" ]
ic2_debmon_apt_key: "{{ osvar_debmon_apt_key }}"
ic2_debmon_apt_repository: "{{ osvar_debmon_apt_repository }}"

ic2_pkg_key: http://packages.icinga.org/icinga.key
ic2_pkgs_name: [ "{{ osvar_pkgs_name }}" ]

ic2_cfg_path: "{{ osvar_cfg_path }}"
ic2_cfgd_path: "{{ osvar_cfgd_path }}"

ic2_svc_name: "{{ osvar_svc_name }}"
ic2_svc_enabled: yes
ic2_svc_state: started

ic2_mysqld_login_host: localhost
ic2_mysqld_login_user: ""
ic2_mysqld_login_pass: ""
ic2_mysqld_db_name: icinga2
ic2_mysqld_db_pass: icinga2
ic2_mysqld_db_user: icinga2
ic2_mysqld_schema: "{{ osvar_mysqld_schema }}"
ic2_mysqld_ido_cfg: "{{ osvar_mysqld_ido_cfg }}"

ic2_mysqld_pkgs_name: "{{ osvar_mysqld_pkgs_name }}"

ic2_mysqld_svc_name: "{{ osvar_mysqld_svc_name }}"
ic2_mysqld_svc_enabled: yes
ic2_mysqld_svc_state: started

ic2_cfg_content: |
  include "constants.conf"
  include "zones.conf"
  include <itl>
  include <plugins>
  include "features-enabled/*.conf"
  include_recursive "conf.d"

ic2_cfg_check_commands_content:
  check_nrpe: |
    "-H", "$address$", "-c", "$remote_nrpe_command$",

ic2_mysqld_ido_cfg_content: |
  library "db_ido_mysql"
  object IdoMysqlConnection "ido-mysql" {
    user = "{{ ic2_mysqld_db_user }}"
    password = "{{ ic2_mysqld_db_pass }}"
    host = "{{ ic2_mysqld_login_host }}"
    database = "{{ ic2_mysqld_db_name }}"
  }

