---

- name:
  set_fact: is_master=True
  with_items: groups['ic2master']
  when: hostvars[groups['ic2master'][0]]['ansible_fqdn'] == ansible_fqdn

- name: Install the Icinga2 packages
  package: name={{ item }} state=latest
  with_items: "{{ ic2_pkgs_name }}"
  tags: pkg

- include: pki.yml

- name:  Activate Icinga2 features
  command: "icinga2 feature enable {{ item }}"
  register: ic2_feature_result
  changed_when: "'for these changes to take effect' in ic2_feature_result.stdout"
  with_items: "{{ ic2_features }}"
  notify: restart icinga2
  tags: cfg

- name: Create the zones.d sub-directories
  file: path="{{ ic2_cfg_dir }}/{{ item }}/" state=directory
  with_items:
    - zones.d/global-templates
    - zones.d/master
  when: is_master is defined
  tags: cfg

- name: Configure Icinga2 master zone
  template: src=zones.d/master/local.conf.j2
            dest={{ ic2_cfg_dir }}/zones.d/master/local.conf
  when: is_master is defined
  notify: restart icinga2
  tags: cfg

- name: Create the satellite sub-directory
  file: path="{{ ic2_cfg_dir }}/zones.d/{{ ic2_zone }}/" state=directory
  when: is_master is undefined
  delegate_to: "{{ groups.ic2master[0] }}"
  tags: cfg

- name: Configure Icinga2 satellite host zone
  template: src=zones.d/satellite/local.conf.j2
            dest={{ ic2_cfg_dir }}/zones.d/{{ ic2_zone }}/local.conf
  when: is_master is undefined
  delegate_to: "{{ groups.ic2master[0] }}"
  notify: restart icinga2
  tags: cfg

- name: Configure Icinga2 zones and endpoints (locally)
  template: src=satellite-zones.conf.j2
            dest={{ ic2_cfg_dir }}/{{ ansible_hostname }}-zones.conf
  when: is_master is undefined
  notify: restart icinga2
  tags: cfg

- name: Configure Icinga2 zones and endpoints (on the master)
  template: src=satellite-zones.conf.j2
            dest={{ ic2_cfg_dir }}/{{ ansible_hostname }}-zones.conf
  when: is_master is undefined
  delegate_to: "{{ groups.ic2master[0] }}"
  notify: restart icinga2
  tags: cfg

- name: Deploy shared Icinga2 configuration
  template: src={{ item }}.j2
            dest={{ ic2_cfg_dir }}/{{ item }}
  with_items:
    - constants.conf
    - icinga2.conf
    - zones.conf
  notify: restart icinga2
  tags: cfg

- name: Deploy Icinga2 global templates
  template: src={{ item }}.j2
            dest={{ ic2_cfg_dir }}/{{ item }}
  with_items:
    - zones.d/global-templates/apt.conf
    - zones.d/global-templates/check_commands.conf
    - zones.d/global-templates/commands.conf
    - zones.d/global-templates/groups.conf
    - zones.d/global-templates/notifications.conf
    - zones.d/global-templates/services.conf
    - zones.d/global-templates/templates.conf
    - zones.d/global-templates/timeperiods.conf
    - zones.d/global-templates/users.conf
  when: is_master is defined
  notify: restart icinga2
  tags: cfg

- name: Enable the Icinga2 service
  service:
    name: "{{ ic2_svc_name }}"
    state: "{{ ic2_svc_state }}"
    enabled: "{{ ic2_svc_enabled }}"
  tags: svc
