---

- name: Get local configuration subdirectory
  set_fact:
    local_subdir: master
    when: ic2_is_master == True

- name: Install the Icinga2 packages
  package: name={{ item }} state=latest
  with_items: "{{ ic2_pkgs_name }}"
  tags: pkg

- include: pki.yml

- name:  Activate Icinga2 features
  command: "icinga2 feature enable {{ item }}"
  register: ic2_feature_result
  changed_when: "'for these changes to take effect' in ic2_feature_result.stdout"
  with_items: "{{ ic2_features }}"
  notify: restart icinga2
  tags: cfg

- name: Enable the Icinga2 service
  service:
    name: "{{ ic2_svc_name }}"
    state: "{{ ic2_svc_state }}"
    enabled: "{{ ic2_svc_enabled }}"
  tags: svc

- name: Create the configuration directories
  file: path="{{ ic2_cfg_dir }}/zones.d/{{ item }}/" state=directory
  with_items:
    - global-templates
    - master
    - satellite
  tags: cfg

- name: Configure Icinga2 (main configuration)
  template: src={{ item }}.j2
            dest={{ ic2_cfg_dir }}/{{ item }}
  with_items:
    - constants.conf
    - icinga2.conf
    - zones.conf
  notify: restart icinga2
  tags: cfg

- name: Configure Icinga2 master local configuration
  template: src=local.conf.j2
            dest={{ ic2_cfg_dir }}/zones.d/master/local.conf
  when: ic2_is_master == True
  notify: restart icinga2
  tags: cfg

- name: Configure Icinga2 satellite local configuration
  template: src=local.conf.j2
            dest={{ ic2_cfg_dir }}/zones.d/satellite/local.conf
  when: ic2_is_master == False
  notify: restart icinga2
  tags: cfg

- name: Configure Icinga2 zones and endpoints
  template: src=hostname-zones.conf.j2
            dest={{ ic2_cfg_dir }}/{{ ansible_hostname }}-zones.conf
  notify: restart icinga2
  tags: cfg

- name: Copy global template files
  template: src="global-templates/{{ item }}.conf.j2"
            dest="{{ ic2_cfg_dir }}/zones.d/global-templates/{{ item }}.conf"
  with_items:
    - "apt"
    - "check_commands"
    - "commands"
    - "groups"
    - "notifications"
    - "services"
    - "templates"
    - "timeperiods"
    - "users"
  notify: restart icinga2
  tags: cfg

