---

- name: Install the Icinga2 packages
  package: name={{ item }} state=latest
  with_items: "{{ ic2_pkgs_name }}"
  tags: pkg

- include: pki.yml

- name:  Activate Icinga2 features
  command: "icinga2 feature enable {{ item }}"
  register: ic2_feature_result
  changed_when: "'for these changes to take effect' in ic2_feature_result.stdout"
  with_items: "{{ ic2_features }}"
  notify: restart icinga2
  tags: cfg

- name: Enable the Icinga2 service
  service:
    name: "{{ ic2_svc_name }}"
    state: "{{ ic2_svc_state }}"
    enabled: "{{ ic2_svc_enabled }}"
  tags: svc

- name: Configure Icinga2 (main configuration)
  template: src=icinga2.conf.j2
            dest={{ ic2_cfg_path }}
            owner=0
            group=0
            mode=0644
  notify: restart icinga2
  tags: cfg

- name: Create the global-templates directory
  file: path="{{ ic2_cfgd_path }}/global-templates" state=directory
  tags: cfg

- name: Copy global template files
  template: src="global-templates/{{ item }}.conf.j2"
            dest="{{ ic2_cfgd_path }}/global-templates/{{ item }}.conf"
  with_items:
    - "apt"
    - "check_commands"
    - "commands"
    - "groups"
    - "notifications"
    - "services"
    - "templates"
    - "timeperiods"
    - "users"
  notify: restart icinga2
  tags: cfg

