---

- name: Get OS-specific variables
  include_vars: "{{ ansible_os_family }}.yml"
  tags: always

- name: Check that all required variables are set
  fail: msg="{{ item }} is not set!"
  when: item is not defined
  with_items:
  - ic2_master_fqdn
  - ic2_master_ip
  - ic2_master_host

- include: "{{ ansible_os_family }}.yml"
- include: icinga2.yml
- include: mysqld.yml
