---

- include: "{{ ansible_os_family }}.yml"

- name: Install the Icinga2 packages
  package: name={{ item }} state=latest
  with_items: "{{ ic2_pkgs_name }}"
  tags: pkg

- name:  Activate Icinga2 command feature
  command: "icinga2 feature enable command"
  register: features_result
  changed_when: "'for these changes to take effect' in features_result.stdout"
  notify: restart icinga2
  tags: cfg

- name: Enable the Icinga2 service
  service:
    name: "{{ ic2_svc_name }}"
    state: "{{ ic2_svc_state }}"
    enabled: "{{ ic2_svc_enabled }}"
  tags: svc

- name: Copy Main Icinga2 Configuration
  template: src=icinga2.conf.j2
            dest={{ ic2_cfg_path }}
            owner=0
            group=0
            mode=0644
  notify: restart icinga2
  tags: cfg

- name: Copy Check Commands Configuration
  template: src=check_commands.conf.j2
            dest={{ ic2_cfgd_path }}/check_commands.conf
            owner=0
            group=0
            mode=0644
  notify: restart icinga2
  tags: cfg
