---

- name: Install MySQL server
  package: name={{ ic2_mysqld_pkg_name }} state=latest
  when: ic2_mysqld_login_host == "localhost"
  tags: pkg

- name: Start the MySQL service
  service: name={{ ic2_mysqld_svc_name }}
           state={{ ic2_mysqld_svc_state }}
           enabled={{ ic2_mysqld_svc_enabled }}
  when: ic2_mysqld_login_host == "localhost"
  tags: svc

- name: Create the Icinga2 database
  mysql_db: name={{ ic2_mysqld_db_name }} state=present
            login_host={{ ic2_mysqld_login_host }}
            login_user={{ ic2_mysqld_login_user }}
            login_password={{ ic2_mysqld_login_pass }}
  register: ic2_mysqld_db_installed
  tags: cfg

- name: Create Icinga2 database user and configure grants
  mysql_user: name={{ ic2_mysqld_db_user }}
              password={{ ic2_mysqld_db_pass }}
              update_password=always
              state=present
              priv="{{ ic2_mysqld_db_name }}.*:GRANT,INSERT,SELECT,UPDATE,DELETE,DROP,CREATE VIEW,INDEX,EXECUTE"
              host='%'
              login_host={{ ic2_mysqld_login_host }}
              login_user={{ ic2_mysqld_login_user }}
              login_password={{ ic2_mysqld_login_pass }}
  tags: cfg

- name: Import the IDO schema into Icinga2 database - (only once)
  mysql_db: name={{ ic2_mysqld_db_name }}
            state=import
            target={{ ic2_mysqld_schema }}
            login_host={{ ic2_mysqld_login_host }}
            login_user={{ ic2_mysqld_login_user }}
            login_password={{ ic2_mysqld_login_pass }}
  when: ic2_mysqld_db_installed.changed == true
  tags: cfg

- name: Configure Icinga2 features
  template: src=features-available/{{ item }}.conf.j2
            dest={{ ic2_cfg_dir }}/features-available/{{ item }}.conf
            owner=nagios
            group=nagios
            mode=0640
  with_items:
  - api
  - ido-mysql
  notify: restart icinga2
  tags: cfg

- name: Enable Icinga2 IDO MySQL feature
  command: "icinga2 feature enable ido-mysql"
  register: ic2_feature_result
  changed_when: "'for these changes to take effect' in ic2_feature_result.stdout"
  notify: restart icinga2
  tags: cfg
