---

- name: Create dbconfig directory for DebConf
  file: path=/etc/dbconfig-common state=directory owner=0 group=0 mode=0755
  when: ansible_os_family == 'Debian'

- name: Disable automatic creation of the icinga database
  lineinfile:
    dest=/etc/dbconfig-common/icinga2-ido-mysql.conf
    line="dbc_install='false'"
    create=yes
  when: ansible_os_family == 'Debian'

- name: Install the MySQL server and IDO modules
  apt: name={{ item }} state=latest
  with_items:
    - mysql-server
    - python-mysqldb
    - icinga2-ido-mysql

- name: Start the MySQL service
  service: name=mysql
           state=started
           enabled=true

- name: Create Icinga Database User and configure Grants
  mysql_user: name={{ icinga2_web2_db_user }}
              password={{ icinga2_web2_db_pass }}
              state=present
              priv="{{ icinga2_web2_db }}.*:GRANT,INSERT,SELECT,UPDATE,DELETE,DROP,CREATE VIEW,INDEX,EXECUTE"

- name: Import the IDO Schema into icinga database - (only once)
  mysql_db: name={{ icinga2_web2_db }}
            state=import
            target={{ icinga2_web_mysql_schema_debian }}
  when: icinga_web2_db.changed == true

- name: Configure Icinga2 IDO MySQL Feature
  template: src=ido-mysql.conf.j2
            dest={{ icinga2_ido_mysql_conf }}
            owner=nagios
            group=nagios
            mode=0640
  notify: restart icinga2

- name: Enable Icinga2 Ido Mysql Feature
  command: "icinga2 feature enable ido-mysql"
  register: features_result
  changed_when: "'for these changes to take effect' in features_result.stdout"
  notify: restart icinga2
