---

- name: restart snmpd
  service: name={{ snmpd_svc_name }} state=restarted

- name: reload icinga2
  service: name={{ snmpd_ic2_svc_name }} state=reloaded
  delegate_to: "{{ snmpd_ic2_master }}"
