---

- name: reload snmpd
  service: name={{ snmpd_svc_name }} state=reloaded

- name: reload icinga2
  service: name={{ snmpd_ic2_svc_name }} state=reloaded
  delegate_to: "{{ item }}"
  with_items: groups.MonitoringServers
