---

- name: Get OS-specific variables
  include_vars: "{{ item }}"
  with_first_found:
   - "{{ ansible_distribution }}.yml"
   - "{{ ansible_os_family }}.yml"
  tags: always

- name: Check that all required variables are set
  fail: msg="{{ item }} is not set!"
  when: item is not defined
  with_items:
  - snmpd_ic2_master_host

- name: Update apt-get cache
  apt: update_cache=yes cache_valid_time=86400
  when: ansible_os_family == 'Debian'
  tags: pkg

- name: Install the SNMP package
  package: name={{ snmpd_pkg_name }} state=latest
  tags: pkg

- name: Create the SNMP scripts directory
  file: path=/usr/local/bin/scripts state=directory owner=0 group=0 mode=0755

- name: Install SNMP scripts
  copy: src=files/{{ item }} dest=/usr/local/bin/scripts/{{ item }} owner=0 group=0 mode=0555
  with_items:
    - check-cpu.pl
    - check-tmpfs.pl
    - check-file-descriptors.pl
  notify: restart snmpd
  tags: cfg

- name: Configure SNMP
  template:
    src: snmpd.conf.j2
    dest: "{{ snmpd_cfg_path }}"
  notify: restart snmpd
  tags: cfg

- name: Enable the SNMP service
  service:
    name: "{{ snmpd_svc_name }}"
    state: "{{ snmpd_svc_state }}"
    enabled: "{{ snmpd_svc_enabled }}"
  tags: svc

- name: Add SNMP service configuration to the Icinga server(s)
  template:
    src: ic2-services-snmp.conf.j2
    dest: "{{ snmpd_ic2_cfg_dirpath }}/global-templates/services-snmp.conf"
  delegate_to: "{{ snmpd_ic2_master_host }}"
  notify: reload icinga2
  tags: cfg

- name: Add host configuration to the Icinga server(s)
  template:
    src: ic2-host.conf.j2
    dest: "{{ snmpd_ic2_cfg_dirpath }}/{{ snmpd_ic2_zone }}/host-{{ ansible_hostname }}.conf"
  delegate_to: "{{ snmpd_ic2_master_host }}"
  notify: reload icinga2
  tags: cfg
